[class*='btn-'] {
	background-color:#1bc95f;
	border:none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 1.8rem;
	font-weight: 700;
	border-radius: 40px;
	width: 268px;
	height: 60px;
}

.btn-header {
	background-image: linear-gradient(to right, hsl(198, 100%, 17%) 0%, hsl(141, 76%, 48%) 100%);
}

.btn-video {
	border: 2px solid #1ed760;
	background-color: hsla(0, 0%, 0%, 0.3);
	/*background-color: rgba(0, 0, 0, 0.3);*/
	top: 50%;
	position: relative;
}

.btn-video:hover {
	background-color: #1ed760;
}

.btn-plan-featured {
	background-color: #159643;
	margin-top: 60px;
	margin-left: 60px;
}

.btn-plan-featured:hover {
	background-color: #233041;
}

.btn-plan {
	background-color: #0273a3;
	margin-top: 30px;
	margin-left: 60px;
}

.btn-plan:hover {
	background-color: #233041;
}

.btn-talk {
	margin-top: 20px;
	margin-left: 100px;
}

.btn-talk {
	background-color: #538dab;
}

.btn-talk:hover {
	background-color: #233041;
}

/*HEADER*/
.header {
	background-image: url(../../images/header.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 200px;
	padding-bottom: 120px;
}

.menu {
	position: absolute;
	text-align: center;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color:#fff;
}

.menu-item {
	margin-right: 20px;
	margin-left: 20px;
}

.menu-item:hover {
	color:#0087c5;
}

.logo {
	display: inline-block;
	position: relative;
	top:-10px;
	background-image: url("../../images/preylogo02.png");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	width:123px;
	height: 106px;
	text-indent: -99999px;
	overflow: hidden;	
	vertical-align: top;
}

.header-subtitle {
	color: #fff;
	padding-right: 300px;
}

/*THEFT*/

.theft {
	padding-top: 60px;
	background-color: #3eb8f7;
}

.theft p {
	color:#fff;
}

.theft-title {
	color: #fff;
}

.theft-video {
	text-align: center;
	position: relative;
	background-image: url(../../images/ipad-prey.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	height: 314px;
}

/*SPECS*/
.specs {
	padding:60px 0 40px 0;
	background-color: #f1f1f1;
	text-align: center;
	color:#879392;
}
.specs li {
	list-style: none;
}

.specs-title {
	padding-bottom: 30px;
	color:#e2e3e3;
}

.specs-divices {
	padding-bottom: 15px;
}

.specs-list li {
	text-transform: uppercase;
	text-align: left;
	color:#3eb8f7;
	font-size: 1.6rem;
	margin-left: 50px;
}

.specs-list img {
	margin-right: 10px;
}

.specs-list-item {
	line-height: 35px;
}

.marcas li {	
	display: inline;
	margin:0;
	padding:0;
}

.marcas img {
	margin-left:30px;
	margin-right:30px;
}

/*TESTIMONIO*/
.testimony {
	background-color: #233041;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 100px;
	color:#fff;
	font-family: 'Hind';
	font-weight: 400;
}

.user img {
	border-radius: 120px;
	-moz-border-radius: 120px;
	-webkit-border-radius: 120px;
}

.user-info {
	font-size: 1.6rem;
}

.testimony-block {
	font-size: 2.5rem;
	font-style: italic;
	font-weight: 500;
	width: 825px;
	margin-left: auto;
	margin-right: auto;
}

.arrow {
	float: left;
	margin-top: -150px;
}

.arrow-neg {
	transform: rotate(180deg);
	float: right;
	margin-top: -150px;
}

/*PLANES*/
.plan-container {
	width: 100%;
	background-color: #f1f1f1;
}

.plans {
	margin:auto;	
	padding-top:65px;
	padding-bottom: 80px;
	text-align: center;
}

.plans-title {
	margin-bottom: 60px;
	color: #233041;
}

.plans-subtitle {
	color: #233041;
	margin:15px;
	
}

.plan {
	background-color:#008dc8;
	color:#FFF;
	padding: 0 0 40px;
}

.plan-featured {
	background-color: #1ed760;
	margin-top:-20px;
	padding-bottom: ;
	box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.plan-featured .plan-header {
	background-color: #16c053;
}

.plan-header {
	background-color: #007FB4;
	padding-top: 35px;
	height: 160px;
}

.plan-header h3 {
	margin:0px;
	font-size: 4.0rem;
}

.plan-header p {
	font-weight: 700;
	font-size: 2.5rem;
	margin:-7px 0 0 0;
}

.plan-header-featured {
	background-color: #1BC256;
	padding-top: 54px;
	padding-bottom: 12px;
	}

.plan-header-featured h3 {
	margin:0px;
	font-size: 4.0rem;
	margin-bottom: -6px;
}

.plan-header-featured p {
	font-weight: 700;
	font-size: 2.5rem;
	margin:0px;
}

.plan-details {
	background-color: ;
	text-align: center;
}

.plan-details ul {
	padding-left: 40px;
}

.plan-header-title {
	font-size: 2.8rem;
}

p .plan-header-title {	
	font-size: 4.0rem;
}

.plan-details-title {
	font-size: 2.8rem;
	font-weight: 500;
	margin-top: 10px;
}

.plan-list {
	text-align: left;
}

.plan-list-item {
	font-size: 1.4rem;
	margin-bottom: -10px;
	margin-right: 50px;
}

.list-token {
	text-align: right;
	font-size: 3.0rem;
	font-weight: 700;
	float:right;
	margin-top: -30px;
	margin-right: 40px;
}

.list-text {
	text-align: right;
	font-size: 3.0rem;
	font-weight: 700;
	float:right;
	margin-top: -25px;
	margin-right: 40px;
	color: #233041;
	font-weight: 500;
	font-size: 1.8rem;
}

.uncheck {
	opacity: 0.8;
	margin-right: 50px;
}

.list-check {
	text-align: left;
}

/*BUSINESS & EDUCATION*/
.business-education {
	background-color: #3eb8f7;
	padding-top: 15px;
	height: 140px;
}

.business-education-info {
}

.business-education-title {
	width: 280px;
	color:#233041;
	line-height: 35px;
	margin:0 0 0 80px;
	font-weight: 700;
	float: left;
	margin-top: 5px;
}

.business-education-list {
	color:#233041;
	font-size: 1.6rem;
	line-height: 20px;
	margin-right: 150px;
	float: left;
}

/*FOOTER*/
.footer {
	background-color: #233041;
	text-align: center;
	padding-top:50px;
	padding-bottom: 50px;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-menu {
	color:white;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding-bottom: 40px;
}

.footer-menu-item {
	margin:0 10px 0 10px;
}

.footer-menu-item:hover {
	color:#0087c5;
}

.copyright {
	color: #797e85;
	line-height: 0;
}
